

html * {
    font-size: 10pt;
    font-family: papyrus;
}

body {
  padding: 50px;
}

h3 {
    float:left;
}

h1 {
    color: lime;
    font-size: 22pt;
    text-align: center;
    padding-right:100px;
    border-style: none none dashed none;
    border-color:black;
}
h2 {
    color: lime;
    font-size: 22pt;
    text-align:center;
  padding-right:50px;
}

p.paragraph {
    color:limegreen;
    padding-top:30px;
    float:right;
    width:600px;
    height:360px;
    font-size:16pt;
    padding-left:3px;
    padding-right:3px;
}

body {
    background-color: rgb(94,95,94);
}

#grad1 {
  height: 100%;
  width:100%;
  background-image: radial-gradient(circle, darkgray 15%, rgb(94,95,94) 60%);
}

a:link {
  color: hotpink;
}

a:visited {
  color: black;
}

a:hover {
  color: lime;
}

a:active {
  color: blue;
}
